target
*.ipr
*.iwr
MinVakt.iws
config.properties
*.iml
.DS*

MinVakt/.idea/artifacts/MinVakt_war_exploded.xml

MinVakt/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_6.xml

MinVakt/.idea/workspace.xml

MinVakt/.idea

MinVakt/.ideaDataSources/
MinVakt/dataSources/
