.header-menu{
    position: relative;
    height: 4.5rem;
    width: 100%;
    background-color: #2D5684;
}

.fa-search-right:after {
    content:"\f002";
    text-decoration: none;
}

.fa{
    text-align: center;
    color: white;
}

.hamburger-area {
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(-50%,-50%);
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2rem;
}

.container{
    width: 100%;
    height: 100%;
}

#calendar ul.weekdays {
    height: 25px;
    color: transparent; !important;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

#calendar ul.weekdays li {
    position: relative;
    height: 25px;
    font-family: 'Source Code Pro', monospace; !important;
    background: #2D5684;
    text-align: center;
    border: none !important;
    color: white;
    width: 14.28%;
    font-size: 16px;
}

#week1{
    padding: 0;
    margin: 0;
}

#calendar li {
    display: block;
    float: left;
    width: 14.28%;
    height: 90px;
    padding: 0;
    box-sizing:border-box;
    border: 1px solid #ccc;
    transition: 0.7s ease-in-out;
}

#calendar .day{
    background: white;
}

#calendar .day-activated{
    background-color: #90BAED;
}

#left-arrow{
//user-select: none;
    -webkit-user-select: none;
}
#right-arrow{
//user-select: none;
    -webkit-user-select: none;
}
.fa-chevron-left{
    display: inline;
    color: #2D5684;
    font-size: 3rem;
}
.fa-chevron-right{
    display: inline;
    color: #2D5684;
    font-size: 3rem;
}

.calendar-head{
    text-align: center;
    position: relative;
    margin: 2rem auto 2rem auto;
}

#calendar{
    position: relative;
    height: 200px;
    width: 95%;
    margin: auto;
}

h3{
    font-family: 'Source Sans Pro', sans-serif;
    color: #90BAED;
    display: inline;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 3rem !important;
    text-align: center;
}

h2{
    width: 90%;
    margin:30px auto 10px auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    color: #2D5684;
}

#person-list table.weekdays {
    height: 25px;
    color: transparent; !important;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

#person-list table.weekdays th {
    position: relative;
    height: 25px;
    background: #2D5684;
    text-align: center;
    border: none !important;
    color: white;
    width: 50%;
    font-size: 16px;
}

ul{
    padding: 0;
    margin: 0;
}

tr:nth-child(even) {background: #F3F3F3;}
td{border: solid black 1px;}

#person-list table.weekdays td {

    height: 20px;
    padding: 0;
    box-sizing:border-box;
    border: 1px solid #ccc;
    transition: 0.7s ease-in-out;
}

#person-list .day-activated{
    background-color: #90BAED;
}


.date-list-div{
    position: absolute;
    right: 0;
    height: 100%;
    width: 70%;
}

.person-list-div{
    position: absolute;
    left: 0;
    height: 100%;
    width: 30%;
}

.container-container{
    margin: auto auto auto auto;
    text-align: center;
    position: relative;
    width: 90%;
    height: 300px;
}

#person-list{
    margin-top: 73px;
}
