/*
COLORS

RØD: #FC4A1A
Mørk blå: #2D5684
Mørk grå: #979797
Lys blå: #90BAED
Lysest grå: #F3F3F3

 */


.header-menu{
    position: relative;
    height: 4.5rem;
    width: 100%;
    background-color: #2D5684;
}

.fa-search-right:after {
    content:"\f002";
    text-decoration: none;
}

.fa{
    text-align: center;
    color: white;
}

.hamburger-area {
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(-50%,-50%);
    font-family: 'Source Code Pro', monospace; !important;
    color: white;
    font-weight: 300;
    font-size: 2rem;
}

.h2{
    font-family: 'Source Code Pro', monospace; !important;
    font-weight: bolder;
    font-size: 3rem;
    color: #2D5684;
    text-indent: 50px;
}

.h2-container{
    margin-top: 10rem;
    width: 100%;
    height: 5rem;
}

.container{
    width: 100%;
    height: 100%;
}

#calendar ul.weekdays {
    height: 25px;
    color: transparent; !important;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

#calendar ul.weekdays li {
    position: relative;
    height: 25px;
    font-family: 'Source Code Pro', monospace; !important;
    background: #2D5684;
    text-align: center;
    border: none !important;
    color: white;
    width: 14.28%;
    font-size: 16px;
}

#week1{
    padding: 0;
    margin: 0;
}

#calendar li {
    display: block;
    float: left;
    width: 14.28%;
    height: 90px;
    padding: 0;
    box-sizing:border-box;
    border: 1px solid #ccc;
    transition: 0.7s ease-in-out;
}

#calendar .day{
    background: white;
}

#calendar .day-activated{
    background-color: #90BAED;
}

#left-arrow{
//user-select: none;
    -webkit-user-select: none;
}
#right-arrow{
//user-select: none;
    -webkit-user-select: none;
}
.fa-chevron-left{
    display: inline;
    color: #2D5684;
    font-size: 3rem;
}
.fa-chevron-right{
    display: inline;
    color: #2D5684;
    font-size: 3rem;
}

.calendar-head{
    text-align: center;
    position: relative;
    margin: 2rem auto 8rem auto;
}

#calendar{
    position: relative;
    height: 200px;
    width: 85%;
    margin: auto;
}

h3{
    font-family: 'Source Code Pro', monospace; !important;
    display: inline;
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 3rem !important;
    text-align: center;
}

.fa-check{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
}

#month-title{
    color: #90BAED;
}

.input-time-container{
    position: relative;
    margin: 0 auto;
    width: 50%;
}

label{
    text-align: center;
    width: 32%;
}

.accept-button{
    border: solid #90BAED 1px;
    background-color: white;
    width: 100%;
}

.button-container{
    margin-top: 10px;
    width: 10%;
    margin: auto;
}