header h1{
    width: 100%vw;

    background: #58ACFA;

    margin: 0px;
    line-height: 10rem;
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    color: white;
}

.main-area{
    position: relative;

}

html, body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background: url(http://www.imageif.com/images/medical-physician-doctor-hands-healthcare-background-banner-cmipa.jpg);
    background-size: cover;
}

div.container{

    padding: 50px;
    border: 2.5px solid #000;
    height: 350px;
    width: 500px;
    text-align: center;

}

.main-area__box{

    font-size: 15px;
    padding: 20px;
    margin: 10px;
    height: 50%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.text{
    font-size: 4rem;
}

.button {

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button:active {
    transform: translate(0px,3px);
    background-color: #a5a5a5;
}

.user-input {
    height: 20px;
}

.space{
    padding: 20px;
}
