header h1{
    width: 100%;

    background: #58ACFA;

    margin: 0px;
    line-height: 16rem;
    font-size: 12rem;
    text-align: center;
    font-weight: 500;
    color: white;
}

.main-area{
    position: relative;

}

html, body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-flow: column wrap;
    min-height: 100vh;
    background: url(http://www.imageif.com/images/medical-physician-doctor-hands-healthcare-background-banner-cmipa.jpg);
    background-size: cover;
}

div.container{

    padding: 50px;
    border: 5px solid #000;
    height: 70vh;
    width: 70vw;
    text-align: center;

}

.main-area__box{

    font-size: 15px;
    padding: 20px;
    margin: 10px;
    height: 50%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.text{
    font-size: 10rem;
}

.button {

    padding: 16px 32px;
    font-size: 5vh;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 5px;
}

.button:active {
    transform: translate(0px,3px);
    background-color: #a5a5a5;

}

.input{
    margin: 1vh;
    height: 4vh;
    width: 40vw;
    padding: 2vh;
    font-size: 6rem;
}

.space{
    padding: 5vh;
}

footer{
    font-size: 5vw;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
    bottom:0;
}

#errormessage{
    text-align: center;
    font-size: 5rem;
    text-decoration-style: double;
    color: red;
    visibility: hidden;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}