/*
COLORS

RØD: #FC4A1A
Mørk blå: #2D5684
Mørk grå: #979797
Lys blå: #90BAED
Lysest grå: #F3F3F3

 */





body{
    position: relative;
}

.fa{
    text-align: center;
}

#header{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    background-color: #2D5684;
    padding: 0;
}

#h1-title{
    color: white;
    font-size: 56px;
    width:80%;
    float: left;
    padding: 20px;
    text-align: center;
    margin: 0 auto 0 auto;
    height: 100%;
}

#h1-title a {
    color: white;
}

#h1-title a:hover {
    color: white;
    text-decoration: none;
}

.icon-bar{
    float:left;
    display: inline;
    position: relative;
    width: 10%;
    height: 100%;
}

.icon-bar > a{
    font-size: 40px;
    color: white;
    background: transparent;
    border-style: none;
    padding: 30px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.hamburger-toggle-open {
    background-color: #3d5176 !important;
    color: #4d7196 !important;
}

.icon-bar > a:hover {
    background-color: #6d81a6;
    color: #1d3156;
    text-decoration: none;
    border-style: none;
}

.icon-bar > a:visited {
    text-decoration: none;
    border-style: none;
}

.icon-bar > a:focus {
    text-decoration: none;
    color: black;
    border-style: none;
}

h2{
    padding: 1.25rem;
    display: inline-block;
    position: relative;
    font-size: 2.5rem !important;
    margin-top: 180px;
    margin-left: 10rem;
    margin-right: 10rem;
    width: 220px !important;
    line-height: 0;
    text-align: center;
}
.calendar-head{
    text-align: center;
    position: relative;
    margin: 2rem auto 2rem auto;
}
#left-arrow{
    //user-select: none;
    -webkit-user-select: none;
}
#right-arrow{
    //user-select: none;
    -webkit-user-select: none;
}
.fa-chevron-left{
    display: inline;
    color: black;
}
.fa-chevron-left:hover{
    text-decoration: none;
}
.fa-chevron-right{
    display: inline;
    color: black;
}
.fa-chevron-right:hover{
    text-decoration: none;
}
#calendar {
    width: 100%;
}
#calendar a {
    color: #8e352e;
    text-decoration: none;
}
#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar .week{
    height: 100px;
    width: 50px;
    background-color: #979797;
    clip-path: polygon(0% 50%, 80% 0%, 0% 0%);
    font-size: 1.5rem;
    top: 2rem;
    left: 2rem;

}
#calendar .week-name {
    display: none;
    visibility: hidden;
}
#calendar .week-number:hover{
    background: white;
}
#calendar #uke {
    width: 7.5%; !important;
    margin-left: 5%;
}

#calendar li {
    display: block;
    float: left;
    width:12.5%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
}

/*TODO*/
#calendar .week-number{
    color: white;
    background-color: white;
    text-indent: 4px;
    width: 7.5%;
    margin-left: 5%;
}

#calendar .uke{
    width: 7.5%;
    margin-left: 5%;
}


#calendar ul.weekdays {
    height: 25px;
    color: transparent; !important;
    width: 100%;
}

#calendar ul.weekdays li {
    height: 25px;
    font-family: 'Source Code Pro', monospace; !important;
    background: #2D5684;
    text-align: center;
    border: none !important;
    color: white;
    width: 12.5%;
    font-size: 16px;
}

#calendar .days li {
    height: 180px;
}

#calendar .day:hover {
    background: #d3d3d3;
}


#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 1px;
    color: #979797;
    width: 20px;
    border-radius: 0.2rem;
    float: right;
}

#calendar .event {
    clear: both;
    display: block;
    font-size: 1rem;
    //border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    background: linear-gradient(180deg, #90BAED 50%, white 50%);
    border: 1px solid #90BAED;
    //height: 30%;
    text-decoration: none;
    overflow: hidden;
}


#calendar .event-desc {
    color: white;
    margin: 3px 0 7px 0;
    text-decoration: none;
    width: 100%;
    float: left;
    display: block;
}
#calendar .event-time{
    color: black;
    width: 100%;
    float: left;
    display: block;
}
#calendar .other-month {
    position: relative;
    background: #f5f5f5;
    color: #666;
}

/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

    #calendar .weekdays{
        display: none;
    }

    #calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar .date {
        float: none;
    }
    #calendar .week-name {
        font-size: 2rem;
        display: inline;
        float: left;
        visibility: visible;
        margin-right: 1rem;
    }
    #calendar .week{
        display: inline;
        float: left;
    }
    h2{
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        font-size: 1.8rem !important;
        text-align: center;
    }

    #h1-title{

        font-size: 36px;
        padding-top: 20px;
        text-align: center;
        display: inline;
        margin: 0 auto 0 auto;
        height: 100%;
        overflow: hidden;
    }
}

.fa-search-right:after {
    content:"\f002";
    text-decoration: none;
}

#hamburger-toggle {
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
}

.hamburger-toggle-open {
    background-color: #3d5176 !important;
}

footer{
    padding: 1rem;
    margin-top: auto;
    text-align: center;
    bottom: 0;
}

#hamburger-menu {
    list-style-type: none;
    display: none;
    position: absolute;
    left: 0; top: 100%;
    width: 100%;
    -webkit-padding-start: 0;
}

#hamburger-menu li {
    background-color: #3d5176;
    display: block;
    height: 50px;
    width: 100%;
    padding-left: 10px;
    color: white;
}

#hamburger-menu li:hover {
    background-color: #4d7196;
}

.hamburger-menu-open {
    display: block !important;
}

.event-open {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 500px;
    margin: auto;
    position: absolute;
    z-index: 100;
    display:block;
    box-shadow: 1px 1px 5px #888888;
    border-radius: 25px;
    padding: 20px;
    background-color: #f9f9f9;
}

.event-open .button {
    height: 20px;
    width: 50px;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 2px;
    background-color:#e4f2f2;
    box-shadow: 1px 1px 2px #000;
    float: right;
    position: relative;
    top: 30px;
    padding-left: 4px;
    padding-top: 2px;
    font-size: 8pt;
}

.event-open .button-tradeable{
    height: 20px;
    width: 80px;
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 2px;
    background-color:#e4f2f2;
    box-shadow: 1px 1px 2px #000;
    float: left;
    position: relative;
    top: 30px;
    padding-left: 4px;
    padding-top: 2px;
    font-size: 8pt;
}

.text-red {
    color: #9d100c;
}
select:required:invalid {
    color: gray;
}
option[value=""][disabled]{
    display: none;
}
option{
    color: white;
}
.free-event{
    position: relative;
    left: 10%;
    top: 80%;
    color: red;
    text-decoration: underline;
    margin-bottom: 2px;
}

.container .header-transparent{
    opacity: 0.6;
    filter: blur(3px);
}

#absolute-div{
    opacity: 1.0;
    z-index: 502;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 50%;
    background-color: #2D5684;
}

.absolute-main-box{
    border: none;
    z-index: 3;
    position: relative;
    margin: auto;
    height: 100%;
    width: 50%;
    background: white;
    overflow: scroll;
}

/*
font-family: 'Source Sans Pro', sans-serif; !important;
    font-size: 2.5rem;
    font-weight: 200;
    text-indent: 35%;
    text-decoration: none;
 */

.absolute-buttons-container{
    position: relative;
    top: 0;
    width: 100%;
    height: 15%;
}

.absolute-blue-button{
    z-index: 4;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
}

.absolute-white-button{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    height: 100%;
    width: 30%;
    border: none;
    color: #2D5684;
}

.section-picker{
    font-family: 'Source Sans Pro', sans-serif; !important;
    font-size: 2rem;
    text-indent: 30%;
    text-decoration: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #2D5684;
    border: none;
    color: white;
    font-weight: 200;
}

#date-picker{
    font-family: 'Source Sans Pro', sans-serif; !important;
    font-size: 2rem;
    font-weight: 200;
    text-indent: 35%;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border: none;
    color: #2D5684;
}

.absolute-dropdown {
    overflow: hidden;
    position: relative;
    text-align:center;
    width: 100%;
    max-height: 60px;
    transition: 0.7s ease-in-out;
    margin: auto;
}
.dropdown-button{
    width: 100%;
    height: 60px;
    position: relative;
    font-family: 'Georgia', 'sans-serif';
    font-weight: 300;
    color: #2D5684;
    font-size: 2.5rem;
    background-color: white;

    padding: 0;
    border: 5px grey;

    text-decoration: none;

}

.dropdown-button:visited{
    background-color: #2D5684;
}

.dropdown-button:hover{
    background-color: #F3F3F3;
}

.dropdown-active{
    max-height: 4045px;
}

button:focus {outline:0;}

tr { line-height: 34px; text-align: center}
tr:nth-child(even) {background: #D5D5D5}
th {color: #2D5684; text-align: center}

.absolute-dropdown-div{
    transition: 0.7s ease-in-out;
    margin-top: 0;
}

.fa-calendar{
    z-index: 10000;
    text-decoration: none;
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(-50%,-50%);
    height: 15%;
    width: 30%;
    border: none;
    color: #2D5684;
}

.overlay {
    z-index: 200;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000;
    opacity: 0.2;
    filter: blur(3px);
}

.blur {
    filter: blur(5px);
}