/*
COLORS
RØD: #FC4A1A
Mørk blå: #2D5684
Mørk grå: #979797
Lys blå: #90BAED
Lysest grå: #F3F3F3
 */

.hamburger-area a, h5{
    display: inline-block;
}

.header-object{
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline-block;
    color: white;
}

.header-title{
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

.header-username{
    right: 30px;
    height: 100%;
    top: 50%;
    transform: translate(0,-50%);
}

.header-menu{
    position: relative;
    height: 4.5rem;
    width: 100%;
    background-color: #2D5684;
}


.fa{
    text-decoration: none;
    text-align: center;
    color: white;
}

.hamburger-area {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translate(-50%,-50%);
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2rem;
}

.h2-div {
    text-align: center;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 5rem;
    height: 10%;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    padding: 20px;
    display: block;
    position: relative;
    flex-wrap: wrap;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.icon-bar{
    float:left;
    display: inline;
    position: relative;
    width: 10%;
    height: 100%;
}

.container{
    display: block;
    margin: auto;
    top: 200px;
}

footer{
    padding-top: 5rem;
    margin-top: auto;
    text-align: center;
    bottom: 0;
}

.dropdown {
    overflow: hidden;
    position: relative;
    text-align:center;
    width: 45%;
    max-height: 60px;
    transition: 0.7s ease-in-out;
    margin-bottom: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.dropdown-button{
    width: 100%;
    height: 60px;
    position: relative;

    background-color: #2D5684;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 2.5rem;

    border: 2px solid #2D5684;
    text-decoration: none;
    margin-bottom: -1px;

}

.dropdown-active{
    border-bottom: #2D5684 20px;
    margin-bottom: 0;
    max-height: 445px;
}

tr { line-height: 34px; text-align: center}
tr:nth-child(even) {background: #D5D5D5}
th {background: #979797; color:white; text-align: center}

button:focus {outline:0;}

.table-div{

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.table-count-alert{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    height: 30px;
    width: 30px;
    z-index: 1000;
}

.experimental-menu{
    overflow: hidden;
    z-index: 5;
    position: fixed;
    height: 100%;
    width: 0;
    background-color: #90BAED;
    transition: 0.5s ease-in-out;
}

.experimental-menu-activated{
    width: 200px;
}

.menu-container{
    margin-top: 90px;
    height: 100%;
    width: 100%;
}

.element{
    text-indent: 18px;
    position: relative;
    height: 45px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 2.5rem;
}
.element:hover{
    background-color: #2D5684;
}