<div class="banner-div" id="banner-shift">
    <div class = "banner-container" id="banner-shift-container">
        <h1 class = "banner-date" id="banner-shift-date"></h1>
        <div id="banner-shift-info">
            <div id="banner-shift-dep">
                <div class="banner-label">Avdeling: </div>
                <span class="banner-text"></span>
            </div>
            <div id="banner-shift-time">
                <div class="banner-label">Tid: </div>
                <span class="banner-text"></span>
            </div>
        </div>
        <div class="banner-button-row">
            <div class="banner-button approve">Be om bytte</div>
            <div class="banner-button absence">Registrer overtid</div>
            <div class="banner-button closer">Lukk</div>
        </div>
    </div>
</div>