<div class="banner-div" id="banner-shift">
    <div class = "banner-container" id="banner-absence-container">
        <h1 class = "banner-date" id="banner-absence-date"></h1>
        <!--div class="a-fade-in-text">Fravær registrert</div-->
        <div class="banner-absence-input">
            <label for="a-from-time" class="a-label from">Fra: &nbsp;</label><input type="text" class="time-input" id="a-from-time" name="">
            <label for="a-to-time" class="a-label to">Til: &nbsp;</label><input type="text" class="time-input" id="a-to-time" name="">
        </div>
        <div class="banner-button-row" id="absence-button-row">
            <div class="banner-button confirmer" id="absence-confirm">Bekreft</div>
            <div class="banner-button closer" id="absence-cancel">Avbryt</div>
        </div>
    </div>
</div>

<!--div class="fixed-main-container-outer">
    <div class="fixed-main-container-inner">
        <i class="fa fa-times" aria-hidden="true"></i>
        <div class="a-fade-in-text">Overtid registrert</div>
        <h1 id="banner-shift-date"></h1>

        <div class="absence a-item1 a-text-header a-removeable">Overtid</div>
        <div class="absence a-item2 a-removeable">
            <div class="absence-calendar-container" aria-readonly="true">
                28/02/1206
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="absence a-item3 a-removeable">

            <label for="a-from-time" class="a-label from">Fra: &nbsp;</label><input class="time-input" id="a-from-time">
            <label for="a-to-time" class="a-label to">Til: &nbsp;</label><input class="time-input" id="a-to-time">

        </div>
        <div class="absence a-item4 a-removeable">
            <div class="banner-button confirmer" id="absence-confirm">Bekreft</div>
            <div class="banner-button closer" id="absence-cancel">Avbryt</div>
            <!--button class="a-confirm-button a-button" id="a-confirm">Bekreft</button>
            <button class="a-cancel-button a-button" id="a-cancel">Avbryt</button>
        </div>

    </div>

</div-->

