<div class="banner-div" id="banner-shift">
    <div class = "banner-container" id="banner-absence-container">
        <div class="banner-header-container">
            <h1 class = "banner-date" id="banner-absence-date">Registrer overtid</h1>
        </div>
        <!--div class="a-fade-in-text">Fravær registrert</div-->
        <div class="banner-absence-input">
            <label for="a-from-time" class="a-label from">Fra: &nbsp;</label>
            <select type="text" class="time-input" id="a-from-time" name="">
                <option value = "0">00:00</option>
                <option value = "1">01:00</option>
                <option value = "2">02:00</option>
                <option value = "3">03:00</option>
                <option value = "4">04:00</option>
                <option value = "5">05:00</option>
                <option value = "6">06:00</option>
                <option value = "7">07:00</option>
                <option value = "8">08:00</option>
                <option value = "9">09:00</option>
                <option value = "10">00:00</option>
                <option value = "11">11:00</option>
                <option value = "12">12:00</option>
                <option value = "13">13:00</option>
                <option value = "14">14:00</option>
                <option value = "15">15:00</option>
                <option value = "16">16:00</option>
                <option value = "17">17:00</option>
                <option value = "18">18:00</option>
                <option value = "19">19:00</option>
                <option value = "20">20:00</option>
                <option value = "21">21:00</option>
                <option value = "22">22:00</option>
                <option value = "23">23:00</option>
                <option value = "24">24:00</option>
            </select>

            <label for="a-to-time" class="a-label to">Til: &nbsp;</label>
            <select type="text" class="time-input" id="a-to-time" name="">
                <option value = "0">00:00</option>
                <option value = "1">01:00</option>
                <option value = "2">02:00</option>
                <option value = "3">03:00</option>
                <option value = "4">04:00</option>
                <option value = "5">05:00</option>
                <option value = "6">06:00</option>
                <option value = "7">07:00</option>
                <option value = "8">08:00</option>
                <option value = "9">09:00</option>
                <option value = "10">00:00</option>
                <option value = "11">11:00</option>
                <option value = "12">12:00</option>
                <option value = "13">13:00</option>
                <option value = "14">14:00</option>
                <option value = "15">15:00</option>
                <option value = "16">16:00</option>
                <option value = "17">17:00</option>
                <option value = "18">18:00</option>
                <option value = "19">19:00</option>
                <option value = "20">20:00</option>
                <option value = "21">21:00</option>
                <option value = "22">22:00</option>
                <option value = "23">23:00</option>
                <option value = "24">24:00</option>

            </select>
        </div>
        <div class="banner-button-row" id="absence-button-row">
            <div class="banner-button confirmer" id="absence-confirm">Bekreft</div>
            <div class="banner-button closer" id="absence-cancel">Avbryt</div>
        </div>
    </div>
</div>

<!--div class="fixed-main-container-outer">
    <div class="fixed-main-container-inner">
        <i class="fa fa-times" aria-hidden="true"></i>
        <div class="a-fade-in-text">Overtid registrert</div>
        <h1 id="banner-shift-date"></h1>

        <div class="absence a-item1 a-text-header a-removeable">Overtid</div>
        <div class="absence a-item2 a-removeable">
            <div class="absence-calendar-container" aria-readonly="true">
                28/02/1206
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            </div>
        </div>
        <div class="absence a-item3 a-removeable">

            <label for="a-from-time" class="a-label from">Fra: &nbsp;</label><input class="time-input" id="a-from-time">
            <label for="a-to-time" class="a-label to">Til: &nbsp;</label><input class="time-input" id="a-to-time">

        </div>
        <div class="absence a-item4 a-removeable">
            <div class="banner-button confirmer" id="absence-confirm">Bekreft</div>
            <div class="banner-button closer" id="absence-cancel">Avbryt</div>
            <!--button class="a-confirm-button a-button" id="a-confirm">Bekreft</button>
            <button class="a-cancel-button a-button" id="a-cancel">Avbryt</button>
        </div>

    </div>

</div-->
