
<div class='absolute-div blue-part' id='absolute-div'>

    <div class='absolute-main-box white-part'>

        <div class='absolute-buttons-container'>

            <div class='absolute-blue-button section-button'>

                <select required class = "section-picker select picker" id = "dept_takeshift_cb">
                    <option class = "banner-option" value = "" disabled selected>Velg Avdeling..</option>
                    <option  class = "banner-option" value = "1" >Nord</option>
                    <option class = "banner-option"  value = "2">Sør</option>
                    <option class = "banner-option"  value = "3">Øst</option>
                    <option class = "banner-option"  value = "4">Vest</option>
                </select>
            </div>

            <div class='absolute-white-button date-picker'>

                <input type='text' id='date-picker' class='date-picker picker' value='Dato'>
                <i class='fa fa-calendar' aria-hidden='true'></i>

            </div>

        </div>

        <div class='absolute-dropdown-div' id='list-container'>

            <div class='absolute-dropdown day-dropdown' id='day'>
                <button class='dropdown-button day-button dropdown-active' id='dropdown-toggle-day'>Dagvakt</button>
                <div class='table-div'>
                    <table cellspacing="0" class='table' id='day-table'>
                        <tr>
                            <th>Navn</th>
                            <th>Start og slutt</th>
                            <th>Stilling</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class='absolute-dropdown evening-dropdown' id='evening'>
                <button class='dropdown-button evening-button' id='dropdown-toggle-evening'>Kveldsvakt</button>
                <div class='table-div'>
                    <table cellspacing="0" class='table' id='evening-table'>
                        <tr>
                            <th>Navn</th>
                            <th>Start og slutt</th>
                            <th>Stilling</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class='absolute-dropdown night-dropdown' id='night'>
                <button class='dropdown-button night-button' id='dropdown-toggle-night'>Nattvakt</button>
                <div class='table-div'>
                    <table cellspacing="0" class='table' id='night-table'>
                        <tr>
                            <th>Navn</th>
                            <th>Start og slutt</th>
                            <th>Stilling</th>
                            <th></th>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>