<div class="employee-form-banner">
    <div class="form-container">
        <i class="fa fa-times" aria-hidden="true"></i>
        <div class="employee-picture">
        </div>
        <div class="employee-information-container">
            <form class="employee-information">
                <div class="first-line line">
                    <div class="name text"></div>
                </div>
                <div class="second-line line">
                    <div class="adresse text"></div>
                </div>
                <div class="third-line line">
                    <div class="avdeling text half first-half"></div>
                    <div class="stilling text half second-half"></div>
                </div>
                <div class="fourth-line line">
                    <div class="telefon text half first-half"></div>
                    <div class="epost text half second-half"></div>
                </div>

                <div class="fifth-line line">
                    <div class="employee-form-button employee-form-edit-button">Rediger</div>
                    <div class="employee-form-button employee-form-delete-button">Slett</div>
                </div>
            </form>
        </div>
    </div>
</div>
