<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset = "UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/MinVakt/css/overtime-style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
    <script type="text/javascript" src="/MinVakt/js/lib.js"></script>
    <script type="text/javascript" src="/MinVakt/js/admin-shift-accept-script.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>MinVakt</title>

</head>
<body>

<div th:replace="${header}"></div>
<div class="h2-div">
    <h2 id="h2-title">Velkommen til godkjenning av vakter</h2>
</div>

<div class="main-area">

    <div class="dropdown" id="evening">
        <div class="admin-shift-table-count-alert">#</div>
        <button class="dropdown-button" id="dropdown-toggle-evening">Vaktliste</button>
        <div class="table-div">
            <table class="table" id="evening-table">
                <tr>
                    <th>Ønsker å bytte vakt</th>
                    <th>Ønsker å ta vakt</th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>

</div>
<footer>
    <p>&copy; 2017 Cardiac Array</p>
    <p>
        <a href="#" class="footer-link">Brukervilkår</a> &bullet;
        <a href="#" class="footer-link">Hjelp</a> &bullet;
        <a href="#" class="footer-link">Kontakt</a>
    </p>
</footer>
</body>
</html>