<div id="overlay-placer"></div>
<div id="header">
    <div class="icon-bar">
        <a id="hamburger-toggle" class="fa fa-bars"></a>
        <ul id="hamburger-menu">
            <li id="hamburger-calendar">Kalender</li>
            <li id="hamburger-shift">Vaktliste</li>
            <li id="hamburger-shifttrade">Ledige vakter</li>
            <li id="hamburger-logout">Logg ut</li>
        </ul>
    </div>
    <h1 id="h1-title">
        <a id="search-toggle" href="/MinVakt/">MinVakt</a>
    </h1>
    <div class="icon-bar">
        <a id="search" href="#" class="fa fa-search-right"></a>

    </div>
</div>
<h2 class = "adm-h2" id = "admin-h2">Administrasjon</h2>
<div class="container">
    <div class = "adm-boxes">
        <div id = "overtime-box" class = "adm-home-box left-box">
            <h3 class = "adm-h3">Overtid</h3>
            <span class = "adm-span">x til godkjenning</span>
        </div>
        <div id = "leave-box" class = "adm-home-box">
            <h3 class = "adm-h3">Fravær</h3>
            <span class = "adm-span">Administrer fravær</span>
        </div>
        <div id = "changeover-box" class = "adm-home-box  left-box">
            <h3 class = "adm-h3">Vaktbytter</h3>
            <span class = "adm-span">x til godkjenning</span>

        </div>
        <div id = "shift-list-box" class = "adm-home-box">
            <h3 class = "adm-h3">Vaktlister</h3>
            <span class = "adm-span">Administrer vaktlister</span>

        </div>
        <div id = "archive-box" class = "adm-home-box left-box">
            <h3 class = "adm-h3">Arkiv</h3>
            <span class = "adm-span">Se historikk</span>

        </div>
        <div id = "employees-box" class = "adm-home-box">
            <h3 class = "adm-h3">Ansatte</h3>
            <span class = "adm-span">Se ansatte</span>
        </div>
    </div>
</div>