<script type="text/javascript" src="/MinVakt/js/main.js"></script>
<link rel="stylesheet" href="/MinVakt/css/main.css">
<div class = "container">
    <div class = "calendar-head">
        <a id= "left-arrow" class="fa fa-chevron-left fa-2x"></a>
        <h2 id="month-title"></h2>
        <a id="right-arrow" class = "fa fa-chevron-right fa-2x"></a>
    </div>
    <div id="calendar">
        <ul class="weekdays">
            <li id="uke">Uke</li>
            <li>Man</li>
            <li>Tir</li>
            <li>Ons</li>
            <li>Tor</li>
            <li>Fre</li>
            <li>Lør</li>
            <li>Søn</li>
        </ul>

        <!-- Days from previous month -->

        <ul id="week1" class="days">
            <li class="week-number">
                <div class="week-name">
                    Uke
                </div>
                <div class="week">
                    52
                </div>
            </li>
            <li class="day">
                <div class="date">26</div>
            </li>
            <li class="day">

                <div class="date">27</div>
            </li>
            <li class="day">
                <div class="date">28</div>
            </li>
            <li class="day">
                <div class="date">29</div>
            </li>
            <li class="day">
                <div class="date">30</div>
            </li>

            <!-- Days in current month -->

            <li class="day">
                <div class="date">31</div>
            </li>
            <li class="day">
                <div class="date">1</div>
            </li>
        </ul>

        <!-- Row #2 -->

        <ul id= "week2" class="days">
            <li class="week-number">
                <div class="week-name">
                    Uke
                </div>
                <div class="week">
                    1
                </div>
            </li>
            <li class="day">
                <div class="date">2</div>
            </li>
            <li class="day">
                <div class="date">3</div>
            </li>
            <li class="day">
                <div class="date">4</div>
            </li>
            <li class="day">
                <div class="date">5</div>
            </li>
            <li class="day">
                <div class="date">6</div>

            </li>
            <li class="day">
                <div class="date">7</div>
            </li>
            <li class="day">
                <div class="date">8</div>
            </li>
        </ul>

        <!-- Row #3 -->

        <ul id="week3" class="days">
            <li class="week-number">
                <div class="week-name">
                    Uke
                </div>
                <div class="week">
                    2
                </div>
            </li>
            <li class="day">
                <div class="date">9</div>
            </li>
            <li class="day">
                <div class="date">10</div>
            </li>
            <li class="day">
                <div class="date">11</div>
            </li>
            <li class="day">
                <div class="date">12</div>
            </li>
            <li class="day">
                <div class="date">13</div>
            </li>
            <li class="day">
                <div class="date">14</div>
            </li>
            <li class="day">
                <div class="date">15</div>
            </li>
        </ul>

        <!-- Row #4 -->

        <ul id="week4" class="days">
            <li class="week-number">
                <div class="week-name">
                    Uke
                </div>
                <div class="week">
                    3
                </div>
            </li>
            <li class="day">
                <div class="date">16</div>
            </li>
            <li class="day">
                <div class="date">17</div>
            </li>
            <li class="day">
                <div class="date">18</div>
            </li>
            <li class="day">
                <div class="date">19</div>
            </li>
            <li class="day">
                <div class="date">20</div>
            </li>
            <li class="day">
                <div class="date">21</div>
            </li>
            <li class="day">
                <div class="date">22</div>
            </li>
        </ul>

        <!-- Row #5 -->

        <ul id="week5" class="days">
            <li class="week-number">
                <div class="week-name">
                    Uke
                </div>
                <div class="week">
                    4
                </div>
            </li>
            <li class="day">
                <div class="date">23</div>
            </li>
            <li class="day">
                <div class="date">24</div>

            </li>
            <li class="day">
                <div class="date">25</div>
            </li>
            <li class="day">
                <div class="date">26</div>
            </li>
            <li class="day">
                <div class="date">27</div>
            </li>
            <li class="day">
                <div class="date">28</div>
            </li>
            <li class="day">
                <div class="date">29</div>
            </li>
        </ul>

        <!-- Row #6 -->

        <ul id="week6" class="days">
            <li class="week-number">
                <div class="week-name">
                    Uke
                </div>
                <div class="week">
                    5
                </div>
            </li>
            <li class="day">
                <div class="date">30</div>
            </li>
            <li class="day">
                <div class="date">31</div> <!-- Next Month -->
            </li>
            <li class="day">
                <div class="date">1</div>
            </li>
            <li class="day">
                <div class="date">2</div>
            </li>
            <li class="day">
                <div class="date">3</div>
            </li>
            <li class="day">
                <div class="date">4</div>
            </li>
            <li class="day">
                <div class="date">5</div>
            </li>
        </ul>

    </div><!-- /. calendar -->
</div><!-- /. wrap -->
</div>