<script type="text/javascript" src="/MinVakt/js/header.js"></script>
<link rel="stylesheet" href="/MinVakt/css/header.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<div id="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="hamburger-menu">
        <div id="hamburger-text">
            <span><i class="fa fa-bars"></i>meny</span>
        </div>
        <div class="hamburger-items-container">
            <ul id="hamburger-menu-items">
                <li th:if="${user.admin}" class="hamburger-menu-item" id="hamburger-admin-shift">
                    <span><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;  Vaktlister</span></li>

                <li th:if="${user.admin}" class="hamburger-menu-item" id="admin-shift-accept">
                    <span><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;  Vaktbytter</span></li>

                <li th:if="${user.admin}" class="hamburger-menu-item" id="admin-overtime-accept">
                    <span><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;  Overtid</span></li>

                <li class="hamburger-menu-item" id="hamburger-calendar">
                    <span><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;  Kalender</span></li>

                <li class="hamburger-menu-item" id="hamburger-availability">
                    <span><i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;  Tilgjengelighet</span></li>

                <li class="hamburger-menu-item" id="hamburger-user-list">
                    <span><i class="fa fa-users" aria-hidden="true"></i>&nbsp;  Ansatte</span></li>

                <li class="hamburger-menu-item" id="hamburger-logout">
                    <span><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;  Logg ut</span></li>
            </ul>
        </div>
    </div>
    <h1 id="header-title"><a id="header-title-link" style="color: white; text-decoration: none;" href="/MinVakt/site/">MinVakt</a></h1>
    <div id="header-user-profile">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span id="header-user-profile-link" th:text="${user.firstName}"></span>
    </div>
</div>