<script type="text/javascript" src="/MinVakt/js/login-script.js"></script>
<form id="login-form" action="#" method="post">
    <h2 id="login-title">Velkommen</h2>
    <input class="input" id="login_email" name="login_email" type="text" placeholder="E-postadresse">
    <p class="login-error" id="login_email-error"></p>
    <input class="input" id="login_password" name="login_password" type="password" placeholder="Passord">
    <p class="login-error" id="login_password-error"></p>
    <input id="ui-button ui-widget ui-corner-all" class="input" name="submitbutton" type="submit" value="Logg inn"/>
    <p id="login-lost-password"><a href="#">Glemt passord?</a></p>
    <p id="error-message"></p>
</form>