<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable = yes">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://localhost:8080/MinVakt/js/login-script.js"></script>
    <link rel="stylesheet" href="css/login-style.css">

    <title>MinVakt</title>
</head>
<body id="body">
<div id="header"><h1 id="header-title">MinVakt</h1></div>
<form id="login-form" action="#" method="post">
    <h2 id="login-title">Velkommen</h2>
    <input class="input" id="login_email" name="login_email" type="text" placeholder="E-postadresse">
    <p class="login-error" id="login_email-error"></p>
    <input class="input" id="login_password" name="login_password" type="password" placeholder="Passord">
    <p class="login-error" id="login_password-error"></p>
    <input id="ui-button ui-widget ui-corner-all" class="input" name="submitbutton" type="submit" value="Logg inn"/>
    <p id="login-lost-password"><a href="#">Glemt passord?</a></p>
    <p id="error-message"></p>
</form>
<footer>
    <p>
        <a href="#" class="footer-link">Brukervilkår</a> &bullet;
        <a href="#" class="footer-link">Hjelp</a> &bullet;
        <a href="#" class="footer-link">Kontakt</a>
    </p>
</footer>
</body>
</html>


