<script type="text/javascript" src="/MinVakt/js/lib.js"></script>
<script type="text/javascript" src="/MinVakt/js/user-list-script.js"></script>
<link rel = "stylesheet" href = "/MinVakt/css/admin-shift-style.css">
<div id="overlay-placer"></div>
<!--TODO-->
<h2 id = "users-h2" class="opacity">Ansatte</h2>
<div class = "container opacity">
    <div id = "user-list">
        <table class="employee-table">
            <tbody id="employee-table">

            <th class = "table-header">Navn</th>
            <th class = "table-header">Stilling</th>

            </tbody>
        </table>
    </div>

    <div class="button-container-new">
        <button class="new-button">Registrer ny ansatt</button>
    </div>
</div>